### Задание 1

In [19]:
import numpy as np
import pandas as pd

from sklearn.datasets import load_boston
boston = load_boston()

C:\Users\maxyw\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np

        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.
  warnings.warn(msg, category=FutureWarning)

In [23]:
data = boston['data']
features = boston['feature_names']
target = boston['target']

X = pd.DataFrame(data, columns = features)
y = pd.DataFrame(target, columns=['price'])

In [25]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [40]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
price_comp = pd.DataFrame({
    'y_test': y_test['price'],
    'y_pred': y_pred.flatten()
})
price_comp

     y_test     y_pred
173    23.6  28.648960
274    32.4  36.495014
491    13.6  15.411193
72     22.8  25.403213
452    16.1  18.855280
..      ...        ...
441    17.1  17.403672
23     14.5  13.385941
225    50.0  39.983425
433    14.3  16.682863
447    12.6  18.285618

[152 rows x 2 columns]

In [56]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score
mse = mean_squared_error(price_comp["y_pred"], price_comp["y_test"])
mae = mean_absolute_error(price_comp["y_pred"], price_comp["y_test"])
r2 = r2_score(price_comp["y_pred"], price_comp["y_test"])
print(f"MSE: {mse}\nMAE: {mae}\nR2 score: {r2}")

MSE: 21.517444231177386
MAE: 3.162709871457423
R2 score: 0.6693702691495587

### Задание 2

In [61]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(n_estimators=1000, max_depth=12, random_state=42)
model.fit(X_train, y_train.values[:, 0])
y_pred = model.predict(X_test)
price_comp = pd.DataFrame({
    'y_test': y_test['price'],
    'y_pred': y_pred.flatten()
})
price_comp

     y_test     y_pred
173    23.6  22.806412
274    32.4  31.131464
491    13.6  16.339125
72     22.8  23.810726
452    16.1  17.139521
..      ...        ...
441    17.1  13.521640
23     14.5  15.112621
225    50.0  42.808700
433    14.3  15.586103
447    12.6  16.072425

[152 rows x 2 columns]

In [62]:
mse = mean_squared_error(price_comp["y_pred"], price_comp["y_test"])
mae = mean_absolute_error(price_comp["y_pred"], price_comp["y_test"])
r2 = r2_score(price_comp["y_pred"], price_comp["y_test"])
print(f"MSE: {mse}\nMAE: {mae}\nR2 score: {r2}")

#Все метрики оценки у второго метода гораздо выше, чем у первого. Единственное не понял
#в каком случае лучше применять первый, а в каком случае второй метод для прогнозирования 
#или у них одинаковая область работы с данными?

MSE: 9.334548946165196
MAE: 2.0831253879090608
R2 score: 0.8479049999699443